[Unit]
Description=Rotation Visualizer Flask Backend
After=network.target

[Service]
Type=simple
User=cskin
WorkingDirectory=/home/cskin/Cesium/heart/mr-ray-apache2/rotation-viz
ExecStart=/usr/bin/python3 /home/cskin/Cesium/heart/mr-ray-apache2/rotation-viz/app.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
